@font-face{
    font-family: muppets;
    src: url("../fonts/Muppets.ttf")
}

body {
    font-family: muppets;
    min-width: 750px;
}


#header {
    background-color: #9EA82F;
    color: #A51C18;
    
    padding: 5px;
    margin: 5px auto 0px auto;
    border: 2px solid #A51C18;
    max-width: 900px;
    text-align: center;
}

#header h1 {
    font-weight: bold;
    font-size: 32px;
}

#avatar-list {
    background-color: #A51C18;
    border-radius: 10px;
    padding: 10px;
}
#avatar-form {
    margin: 5px 0px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    height: 50px;
    align-items: center;
}
.left-item {
    text-align: left;
}
.center-item{
    text-align: center;
    font-weight: 28px;
    font-weight: bold;
}
.right-item{
    text-align: right;
}

#avatar-selection {
    margin: 10px auto 10px auto;
    text-align: center;
    max-width: 900px;
    font-size: 24px;
    opacity: 1;
    display: inherit;
    transition: opacity .5s ease;
}

#name-input {
    text-align: center;
    outline: none;

    border-radius: 10px;
    border: 2px solid #A51C18;

    font-family: muppets;
    font-weight: bold;
    font-size: 28px;

    color: #A51C18;
    background-color: #9EA82F;
}

#name-input:focus {
    outline: none;
}

#join-game {
    vertical-align: center;
    text-decoration: none;
    color: #A51C18;
    font-weight: bold;
    background-color: #9EA82F;
    padding: 4.25px 72px;
    border-radius: 10px;
    border: 2px solid #A51C18;
}

label > input {
    /* visibility: hidden; */
    position: absolute;
    display: none;
}

label > input + div {
    cursor: pointer;
}

label > input:checked + div {
    background-color: #9EA82F;
}

label > input:checked + div > div {
    border-color: #A51C18;
}

.avatar-frame {
    display: inline-block;
    vertical-align: top;

    background-color: #A51C18;

    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    
    height: 205px;
    width: 180px;
}

.avatar-border {
    border: 3.5px solid #9EA82F;
    height: 200px;
    width: 175px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
}

.avatar-pic {
    width: 150px;
    position: absolute;
    bottom: 0px;
    left: 12.5px;
    border-radius: 10px;
}


#container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    height: 310px;
}

#game-room {
    margin: 5px auto 5px auto;
    max-width: 900px;
    border-radius: 10px;
    padding-bottom: 15px;
    background-color: #A51C18;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

#player {
    padding-left: 20px;
}

#opponent {
    padding-right: 20px;
}

#opponent > .player-bundle > .player-frame {
    margin-left: auto;
    margin-right: 20px;
}

#player > .player-bundle > .player-frame {
    margin-right: auto;
    margin-left: 20px;
}

#opponent-name {
    width: 175px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.player-bundle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.player-frame {
    border: 5px solid #9EA82F;
    height: 200px;
    width: 175px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
}

.player-pic {
    width: 150px;
    position: absolute;
    bottom: 0px;
    left: 12.5px;
    border-radius: 10px;
}

#ammo-box {
    width: 175px;
    margin-left: 25px;
    text-align: center;
}

.ammo {
    width: 45px;
    margin: 2px;
    opacity: .7;
    vertical-align: bottom;
}

.ammo:hover {
    cursor: pointer;
    width: 47px;
    opacity: 1;
}

#chat {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

#chat {
    background-color: #9EA82F;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    height: 200px;
    border-radius: 10px;
}

#battle-field {
    text-align: center;
    color: white;
    font-size: 28px;
    
}

#counter {
    margin: 20px;
}

.choice {
    width: 75px;
    margin: 2px;
    opacity: .7;
    vertical-align: bottom;
    display: none;
}

#announce {
    min-width: 50px;
    margin-bottom: 5px;
}

#choices {
    display: grid;
    grid-template-columns: auto auto;
    height: 110px;
}

#restart {
    vertical-align: center;
    text-decoration: none;
    color: #A51C18;
    font-weight: bold;
    background-color: #9EA82F;
    padding: 4.25px 72px;
    border-radius: 10px;
    border: 2px solid #A51C18;
}

.results {
    display: none;
}


#comment-input {
    outline: none;

    width: 98%;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 10px;
    border: 2px solid #A51C18;

    font-family: muppets;
    font-weight: normal;
    font-size: 18px;

    color: #A51C18;
    background-color: #9EA82F;
    text-align: left;
    margin-top: 5px;
}

#comment-input:focus {
    outline: none;
}

#messages {
    margin-top: 5px;
}

.message {
    width: 98%;

    padding-left: 5px;
    padding-right: 5px;


    font-family: muppets;
    font-weight: normal;
    font-size: 18px;

    color: #A51C18;
    text-align: left;
}

.player-message {
    background-color: #888e44;
}

.opponent-message {
    background-color: #5c9c2b;
}

.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}